.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px 30px;
  background: #ffffff;
  border: 1px solid black;
  
  
  } 

.title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
  font-style: italic;
}

.inputRow {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input {
  flex: 1;
  padding: 10px 14px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  transition: border 0.2s ease-in-out;
}

.input:focus {
  outline: none;
  border-color: #ff8f0f;
  background: white;
}

td .input {
  flex: 1;
  font-size: 16px;
  border: 1px solid #ddd;
  background: #fafafa;
  transition: border 0.2s ease-in-out;
  max-width: 100px;
}

.button {
  padding: 10px 16px;
  font-size: 18px;
  background-color: #ff8f0f;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #d97706;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.deleteButton {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 16px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.deleteButton:hover {
  background-color: darkred;
}

.message {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.messageError {
  color: red;
}

.messageSuccess {
  color: green;
}

.userDetails {
  padding-bottom: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.profileUpdate {
  font-weight: bold;
  font-style: italic;
  font-size: 18px
  
}

.userDetails p {
  margin: 5px 0;
  
}

.recipeTable {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  overflow: hidden;
  font-size: 16px;
}

.recipeTable th,
.recipeTable td {
  padding: 12px 15px;
  text-align: left;
}

.recipeTable th {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  border-bottom: 1px solid #ff8f0f;
}

.recipeTable td {
  color: #333;
  vertical-align: top;
  
}

.recipeTable .notes {
  width: 200px;
  word-wrap: break-word;
}

.container2 {
  max-width: 1600px;
  margin: 40px auto;
  padding: 20px 30px;
  background: #ffffff;
  border: black 1px solid;
}

.btnRecRev {
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.del {
  font-size: 16px;
  background-color: white;
  border: none;
  color: red;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;

}

.userDtlSingle {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.bcg {
    background-image: url('../../../public/bcg7.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.fieldError {
  color: crimson;
  font-size: 0.9em;
  margin: 2px 0 5px 0;
  height: 14px; 
}