.heading {
    font-size: 35px;
    margin-bottom: 16px;
    color: #FF8F0F;
    text-align: center;
}

.coffeeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
 align-items: stretch;
}

.coffeeCard {
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column; 
  height: 100%;
}

.coffeeCard2 {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.824);
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.coffeeCard2 h3 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.coffeeCard2:hover {
  transform: scale(1.03);
  background-color: #f18100b3;
}

.coffeeImage {
  width: 100%; 
  display: block;
  margin: 0 auto 10px auto; 
  height: 340px;
  object-fit:scale-down; 
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.discoverBcg {
    background-image: url('../../../public/bcg1.png');
}

.coffeeParam {
  font-weight: bold;
  font-size: 20px;
}

.coffeeDescription {
  font-style: italic;
  font-size: 25px;
  padding: 0 10px;
    text-align: center;
}

.titleRating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.rating {
  color: #FF8F0F;
  font-size: 28px;
  font-weight:bold;
}