.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff00;
  padding: 10px 0;
  z-index: 1000;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  color: #ff9800;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
