
.wrapper {
  max-width: 1800px;   
  margin: 0 auto;      
  padding: 50px 100px 100px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}